{% extends 'html/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<header class="bg-secondary text-white text-center py-5">
        <h1>About Us</h1>
    </header>
    <div class="container ml-n4">
        <div class="container mt-2">
        
      <div class="row">
          <div class="col-lg img-col">
              <img src="{% static 'images/slides.jpg' %}" alt="" width="1680" height="650">
          </div>
      </div>
    </div>
    </div>
    <br>
    <br>
    <div class="container ml-n7">
    <h3>"The craft of carpentry is all about turning raw materials into works of beauty"</h3></div>
    <br>
    <div class="col-md-12">
    <div class="row">
    <p class="ml-3"> Our store is a fully integrated manufacturer concentrating on four key segments of the contract market—Healthcare, Education, Corporate and Gover
        nment.Established in 2023 out of a desire to bring a unique customer-oriented approach to the contract marketplace, we design durable, elegant furn
        iture that excels at meeting all core requirements. Combined with a huge array of options, choices, price points, and scales, our customers can spe
        cify the best possible solution.We are recognized as the in the quality, design, and engineering of contract furniture products, focusi
        ng on a wide range of markets and designs. Thousands of Spec product installations are in use throughout North America, supported by APSSDC
        and a dedication to outstanding customer service.
    </p>
    <h2 class="ml-3">  Quality</h2> 
    <p class="ml-3">  We are committed to providing the marketplace with the highest quality seating and tables. We practice rigorous quality control at every stage of 
         production,from design to assembly and shipment, and have implemented a quality management system compliant with ISO 9001.We aim to “do it right 
         the first time,” with a focus on developing a culture of continual improvement. This culture is fostered by maintaining a positive and productive
         work environment that promotes employee engagement and satisfaction.The performance of our quality system is continually reviewed through monitor
         ing and measurement of company performance indicators and regular management reviews.
    </p>
    <h2 class="ml-3">Comfort</h2>
    <p class="ml-3">
        Whether it is the ease and comfort of shopping with us or the unparalleled comfort provided by our products, we have meticulously attended to all your 
        comfort needs. Our commitment to delivering utmost comfort begins with the selection of our high-quality materials. Every aspect of our design process 
        revolves around creating pieces that cocoon you in a world of relaxation and ensure a truly enjoyable and fulfilling experience.
       </p>

    <h2 class="ml-3"> Customer Experience</h2>
    <p class="ml-3"> Everything we create is meticulously designed, keeping our customers in mind. Our commitment to providing an incredible service experience ensures
         that every interaction,  be it online or with one of our cheerful customer service associates, leaves our customers smiling and satisfied.
    </p>
    </div>
    </div> 
    <div class="bg-secondary text-white text-left py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h2>Our Address</h2>
                <address>
                    <strong>DJANGO COMPANY</strong><br>
                    KRISHNA NAGAR<br>
                    RAJAHMUNDRY<br>
                    ZIP CODE:0987<br>
                    INDIA<br>
                </address>
            </div>
            <div class="col-md-4">
                <h2>Contact Us</h2>
                TELEPHONE NUMBER:121-345678<br>
                CONTACT:9890674523<br>
                EMAIL US TO:teamwork@gmail.com<br>
                TIMINGS:9:30AM TO 8:30PM<br>
            </div>
            <div class="col-md-4">
                <h2>Customer Services</h2>
                FREQUENTLY ASKED QUESTIONS<br>
                PRODUCT KNOWLEDGE<br>
                SHIPPING & DELIVERY INFO<br>
                REFUND POLICY<br>
                CANCELLATION POLICY<br>
            </div>
        </div>
    </div>        
</div> 
{% endblock %}
